<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <div class="container">
  <h2>Register with us...</h2>
    <div class="registration-form">
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" id="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname">
      </div>
      <div class="form-group">
        <label for="email">Emaiil</label>
        <input type="email" name="email" id="email">
      </div>
    </div>
  </div>
</body>
</html>